.nav-list{
    gap: 15px
}

.nav-list li a{
    color: #777777;
    font-size: 16px;
}

.nav-list li .nav-link-active{
    color: #000;
}

@media screen and (max-width: 1024px) {
    .nav-list{
        border-bottom: 1px solid #dee2e6;
        padding: 10px;
    }

    .nav-list li a:hover{
        color: #000;
    }
}