.my-booking-container{
    width: 75%;
    margin: auto;
    margin: 40px auto;
}

.f-wrapper{
    gap: 5px;
}

.f-wrapper p{
    font-size: 16px;
    color: #212529;
}

.f-wrapper .filter{
    width: fit-content;
    height: 40px;
    padding: 0px 15px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.my-booking-container .flex-gap-15 .flex-gap-10{
    gap: 10px;
}

.my-booking-container .flex-gap-15 div .cal-icon-wrapper{
    height: 40px;
    border: 1px solid #777777;
    color: #777777;
    padding: 0px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.my-booking-container .flex-gap-15 div .cal-icon-wrapper:hover{
    background-color: #777777;
}

.my-booking-container .flex-gap-15 div .cal-icon-wrapper:hover > svg .calendarIcon{
    stroke: #FFF;
}

.my-booking-container .upcoming{
   margin-top: 50px;
   font-size: 16px;
}


@media screen and (max-width: 1280px) {
    .my-booking-container{
        width: 90%;
    }
}

@media screen and (max-width: 780px) {
    .my-booking-container{
        width: 100%;
        padding: 0px 20px;
    }
    .my-booking-container .my-gap,.flex-gap-15{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
}