.date-polls-container{
    width: 65%;
    margin: auto;
    margin-top: 40px;
}

.polls-title-wrapper{
    gap: 15px;
}

.v-wrapper{
    gap: 5px;
}

.v-wrapper p{
    font-size: 16px;
    color: #212529;
}

.v-wrapper .polls{
    width: 180px;
    height: 40px;
    padding-left: 15px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

@media screen and (max-width: 1280px) {
    .date-polls-container{
        width: 85%;
    }
}

@media screen and (max-width: 780px) {
    .date-polls-container{
        width: 100%;
        padding: 0px 20px;
    }
    .polls-gap,.polls-title-wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 15px;
    }
}